<div class="modal" tabindex="-1" role="dialog" id="infoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Instructions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row infoRow">
                    <p>
                        <b>Search</b> - Click the "Search" button to start the home automation, information will be gathered every 30 second. Timer
                        will be reset
                        everytime the "Search" button is clicked.
                        <br />
                        Information for each room for all houses will be gathered and
                        displayed
                        if no house name is entered. If a house ID is entered, all rooms for that house will be gathered and
                        displayed. All houses and their IDs can be found under "Houses".
                        <br />
                        The ID for each house is displayed within the () after
                        the house name.
                        <br />
                        <br />
                        <b>Clear</b> - Click the "Clear" button to clear all rooms, input and stops the timer.
                        <br />
                        <br />
                        <b>Add house</b> - Click the "Add house" button to add another house.
                        <br />
                        <br />
                        <b>Add room</b> - Click the "Add room" button to add a room to a specific house.
                        <br />
                        <br />
                        <b>Adding/deleting rooms and deleting houses will display all rooms afterwards if the action was successful!</b>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>